.frontBox
  .ct
    %h2.frontBox_title All Boards
    %ul.frontBox_boardsContents
      %li.frontBox_boardsContents_list.flex.al-ce
        .frontBox_boardsContents_list_menuBtn
          .frontBox_boardsContents_list_menuBtn_btnIcon.flex.al-ce.spa-be
            %span
            %span
            %span
          .frontBox_boardsContents_list_menuBtn_select
            %a.frontBox_boardsContents_list_menuBtn_select_text Edit
            %a.frontBox_boardsContents_list_menuBtn_select_text Delete

        .frontBox_boardsContents_list_inner
          %p.frontBox_boardsContents_list_title Bracket 
          %p.frontBox_boardsContents_list_text  
            texttexttexttexttexttexttexttexttexttexttexttexttexttext
          .frontBox_boardsContents_list_iconBox
            = image_tag 'Oval.png' 
    .frontBox_AddNewBox.flex-ce 
      %p.AddNewBox + Add new borad